{
  "realm": "microservice-app",
  "enabled": true,
  "frontendUrl": "http://localhost:80",
  "sslRequired": "external",
  "registrationAllowed": true,
  "rememberMe" : true,
  "verifyEmail" : true,
  "loginWithEmailAllowed": true,
  "duplicateEmailsAllowed": false,
  "resetPasswordAllowed": true,
  "editUsernameAllowed": false,
  "bruteForceProtected": false,

  "accessTokenLifespan": 300,
  "ssoSessionIdleTimeout": 1800,
  "ssoSessionMaxLifespan": 36000,
  "accessCodeLifespan": 60,

  "smtpServer" : {
    "replyToDisplayName" : "",
    "starttls" : "false",
    "auth" : "",
    "port" : "${MAIL_PORT}",
    "host" : "${MAIL_HOST}",
    "replyTo" : "",
    "from" : "${MAIL_FROM}",
    "fromDisplayName" : "Microservice App",
    "envelopeFrom" : "",
    "ssl" : "false"
  },

  "users": [],

  "clients": [
    {
      "clientId": "todo-backend-client",
      "name": "ToDo Backend Client",
      "enabled": true,
      "clientAuthenticatorType": "client-secret",
      "secret": "${TODO_BACKEND_SECRET}",
      "redirectUris": ["/*"],
      "webOrigins": ["/*"],
      "publicClient": false,
      "serviceAccountsEnabled": true,
      "standardFlowEnabled": false,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": false,
      "protocol": "openid-connect",
      "fullScopeAllowed": true
    },
    {
      "clientId": "todo-frontend-client",
      "name": "ToDo Frontend Client",
      "rootUrl": "${TODO_FRONTEND_URL}",
      "adminUrl": "${TODO_FRONTEND_URL}",
      "enabled": true,
      "publicClient": true,
      "redirectUris": ["${TODO_FRONTEND_URL}/*"],
      "webOrigins": ["${TODO_FRONTEND_URL}"],
      "standardFlowEnabled": true,
      "implicitFlowEnabled": false,
      "directAccessGrantsEnabled": false,
      "serviceAccountsEnabled": false,
      "protocol": "openid-connect",
      "fullScopeAllowed": true,
      "defaultClientScopes": [
        "web-origins",
        "acr",
        "profile",
        "roles",
        "basic",
        "email",
        "todo-backend-audience"
      ],
      "optionalClientScopes": [
        "address",
        "phone",
        "offline_access",
        "organization",
        "microprofile-jwt"
      ]
    }
  ],

  "clientScopes": [
    {
      "name": "todo-backend-audience",
      "description": "Audience mapper for backend",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "false",
        "display.on.consent.screen": "false",
        "gui.order": "",
        "consent.screen.text": ""
      },
      "protocolMappers": [
        {
          "name": "todo-backend-audience",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-audience-mapper",
          "consentRequired": false,
          "config": {
            "included.client.audience": "todo-backend-client",
            "id.token.claim": "false",
            "lightweight.claim": "false",
            "access.token.claim": "true",
            "introspection.token.claim": "false"
          }
        }
      ]
    },
    {
      "name": "email",
      "description": "OpenID Connect built-in scope: email",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "true",
        "display.on.consent.screen": "true",
        "consent.screen.text": "${emailScopeConsentText}"
      },
      "protocolMappers": [
        {
          "name": "email",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "email",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "email",
            "jsonType.label": "String"
          }
        },
        {
          "name": "email verified",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "emailVerified",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "email_verified",
            "jsonType.label": "boolean"
          }
        }
      ]
    },
    {
      "name": "profile",
      "description": "OpenID Connect built-in scope: profile",
      "protocol": "openid-connect",
      "attributes": {
        "include.in.token.scope": "true",
        "display.on.consent.screen": "true",
        "consent.screen.text": "${profileScopeConsentText}"
      },
      "protocolMappers": [
        {
          "name": "full name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-full-name-mapper",
          "consentRequired": false,
          "config": {
            "id.token.claim": "true",
            "access.token.claim": "true",
            "userinfo.token.claim": "true"
          }
        },
        {
          "name": "family name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "lastName",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "family_name",
            "jsonType.label": "String"
          }
        },
        {
          "name": "given name",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "firstName",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "given_name",
            "jsonType.label": "String"
          }
        },
        {
          "name": "username",
          "protocol": "openid-connect",
          "protocolMapper": "oidc-usermodel-property-mapper",
          "consentRequired": false,
          "config": {
            "userinfo.token.claim": "true",
            "user.attribute": "username",
            "id.token.claim": "true",
            "access.token.claim": "true",
            "claim.name": "preferred_username",
            "jsonType.label": "String"
          }
        }
      ]
    }
  ],

  "roles": {
    "realm": [],
    "client": {}
  },

  "identityProviders": [
    {
      "alias": "google",
      "displayName": "Google",
      "providerId": "google",
      "enabled": true,
      "updateProfileFirstLoginMode": "on",
      "trustEmail": true,
      "storeToken": false,
      "addReadTokenRoleOnCreate": false,
      "authenticateByDefault": false,
      "linkOnly": false,
      "hideOnLogin": false,
      "firstBrokerLoginFlowAlias" : "auto-create-user-first-login",
      "config": {
        "offlineAccess": "false",
        "acceptsPromptNoneForwardFromClient": "false",
        "clientId": "${GOOGLE_IDP_CLIENT_ID}",
        "disableUserInfo": "false",
        "filteredByClaim": "false",
        "syncMode": "IMPORT",
        "clientSecret": "${GOOGLE_IDP_CLIENT_SECRET}",
        "caseSensitiveOriginalUsername": "false",
        "prompt": "consent select_account",
        "defaultScope": "openid profile email"
      }
    }
  ],

  "identityProviderMappers": [
    {
      "name": "google-email-mapper",
      "identityProviderAlias": "google",
      "identityProviderMapper": "oidc-user-attribute-idp-mapper",
      "config": {
        "claim": "email",
        "user.attribute": "email",
        "syncMode": "IMPORT"
      }
    },
    {
      "name": "google-given-name-mapper",
      "identityProviderAlias": "google",
      "identityProviderMapper": "oidc-user-attribute-idp-mapper",
      "config": {
        "claim": "given_name",
        "user.attribute": "firstName",
        "syncMode": "IMPORT"
      }
    },
    {
      "name": "google-family-name-mapper",
      "identityProviderAlias": "google",
      "identityProviderMapper": "oidc-user-attribute-idp-mapper",
      "config": {
        "claim": "family_name",
        "user.attribute": "lastName",
        "syncMode": "IMPORT"
      }
    }
  ],

  "authenticationFlows": [
    {
      "alias": "auto-create-user-first-login",
      "description": "Actions taken after first broker login with identity provider account, which is not yet linked to any Keycloak account",
      "providerId": "basic-flow",
      "topLevel": true,
      "builtIn": false,
      "authenticationExecutions": [
        {
          "authenticator": "idp-review-profile",
          "authenticatorFlow": false,
          "requirement": "DISABLED",
          "priority": 10,
          "authenticatorConfig": "auto-create-user-first-login review profile config",
          "userSetupAllowed": false
        },
        {
          "authenticator": "idp-create-user-if-unique",
          "authenticatorFlow": false,
          "requirement": "ALTERNATIVE",
          "priority": 20,
          "authenticatorConfig": "auto-create-user-first-login create unique user config",
          "userSetupAllowed": false
        },
        {
          "authenticator": "idp-confirm-link",
          "authenticatorFlow": false,
          "requirement": "ALTERNATIVE",
          "priority": 30,
          "userSetupAllowed": false
        },
        {
          "authenticator": "idp-email-verification",
          "authenticatorFlow": false,
          "requirement": "ALTERNATIVE",
          "priority": 40,
          "userSetupAllowed": false
        }
      ]
    }
  ],

  "authenticatorConfig": [
    {
      "alias": "auto-create-user-first-login review profile config",
      "config": {
        "update.profile.on.first.login": "on"
      }
    },
    {
      "alias": "auto-create-user-first-login create unique user config",
      "config": {
        "require.password.update.after.registration": "false"
      }
    }
  ]
}
